.banner-principal-decorativo
  &-1
    animation: rotation 40s infinite linear
    position: absolute
    top: 8%
    right: 8%
  &-2
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 58%
    right: 20%

@keyframes float1
  0%
    transform: translateX(30px)

  100%
    transform: translateX(0px)

@-webkit-keyframes rotation 
  from 
    -webkit-transform: rotate(0deg)  
  to 
    -webkit-transform: rotate(359deg)

.color-text
  color: #790B2F

//Tema 1

.bg_grad-01
  position: relative
  .row, Separador, #t_1_2.titulo-segundo, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 10em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo1.jpg")
    background-repeat: no-repeat

.bloque-texto-g 
  position: relative
  display: flex
  justify-content: flex-start

.bloque-texto-g__img 
  width: 50%
  position: absolute
  top: 0px
  left: 50%
  bottom: 0
  background-position: center
  background-size: cover
  @media screen and (max-width: 994px)
    width: 100%
    position: absolute
    top: 0px
    left: 0%
    bottom: 0
    background-position: center
    background-size: cover

.bloque-texto-g1__texto 
  position: relative
  width: 60%
  background-color: rgba(255, 255, 255, 0.95)

.fondo-slyder
  background-image: url('../assets/curso/temas/fondo_slyder.png')
  background-size: cover
  background-repeat: no-repeat
  padding: 2rem

.clr-paleYellow
  background-color: #FFDFE7
  height: 520px
  border-radius: 20px
  @media (max-width: 1400px)
    height: auto

.bloque-texto-g1 
  position: relative
  display: flex
  justify-content: flex-start

.bloque-texto-g1.color-rojo
  background-color: #A3314F

.bloque-texto-g1__img 
  width: 50%
  position: absolute
  top: 0px
  right: 50%
  bottom: 0
  background-position: center
  background-size: cover

.bloque-texto-g1__texto 
  position: relative
  width: 60%
  background-color: rgba(255, 255, 255, 0.95)
  right: -40%

.clr-paleYellow2
  background-color: #E1E4A8
  border-radius: 0px

///tema2

/// titulo rojo h4 + icono
.img50
  width: 50px
.img70
  width: 70px
.img80
  width: 50px

.cstmH4
  position: relative
  padding-left: 1rem
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    width: 91%
    height: 70%
    background-color: #A3314F

.bg_grad-02
  position: relative
  .row, Separador, #t_1_2.titulo-segundo, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 4em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo2.jpg")
    background-repeat: no-repeat

.tarjeta.color-acento-contenido *
  color: #12263F

.color-rosa2
  background-color: #E8CBD3
  height: 400px
  @media (max-width: 1000px)
    height: auto

.fa-chevron-right:before
  content: "\f054"
  color: #fcc15a!important

.fa-chevron-left:before
  content: "\f053"
  color: #fcc15a!important

.boton.color-acento-botones *, .color-acento-botones.boton--sm * 
  color: #12263F

//tema3 

.tarjetacolorojo
  box-shadow: 2px 5px 8px 2px rgba(0, 0, 0, 0.2);
  background-color: #A3314F
  border-radius: 20px

.bg_grad-03
  position: relative
  .row, Separador, #t_1_2.titulo-segundo, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 4em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo3.jpg")
    background-repeat: no-repeat

.form-check-input
  align-items: center
  min-width: 20px
  max-width: 20px
  min-height: 20px
  max-height: 20px
  border: 3px solid #ccc
  border-radius: 50%

.form-check .form-check-input 
  justify-content: center
  margin: auto

.tabla-a thead
  border-top: 0px solid
  color: #12263F
  background-color: #CED371  

.tabla-a table
  min-width: 100%
  @media screen and ( max-width: 997px )
    min-width: 140%
  @media screen and ( max-width: 768px )
    min-width: 240%
  @media screen and ( max-width: 576px )
    min-width: 280%

.clr-paleYellow3
  background-color: #FFDA7F
  border-radius: 0px

.linea-tiempo-d.color-linea .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  background-color: #E8CBD3
  color: #12263F

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #E8CBD3

.clr-paleYellow4
  background-color: #E8CBD3
  border-radius: 20px

.clr-paleYellow5
  background-color: #FAF4F6
  border-radius: 20px

.bg_grad-04
  position: relative
  .row, Separador, #t_1_2.titulo-segundo, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo4.jpg")
    background-repeat: no-repeat  

.bg_grad-05
  position: relative
  .row, Separador, #t_1_2.titulo-segundo, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo5.jpg")
    background-repeat: no-repeat  

///tema6

.boton.color-acento-botones:active *, .color-acento-botones.boton--sm:active *, .boton.color-acento-botones:focus *, .color-acento-botones.boton--sm:focus *, .boton.color-acento-botones:hover *, .color-acento-botones.boton--sm:hover * 
  color: #12263F

.bg_grad-06
  position: relative
  .row, Separador, #t_1_2.titulo-segundo, 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo1.jpg")
    background-repeat: no-repeat

.color-white
  background-color: #fff

.color-gris
  background-color: #F6F6F6  

.color-rosa3
  background-color: #E8CBD3
  height: 510px
  @media (max-width: 1000px)
    height: auto

///tema7

.tarjeta.tarjeta-azul
  background-color: #F6F6F6

.acordion__accion__btn--a
  background-color: #ffffff !important

.acordion__activo
  background-image: url('../assets/curso/temas/fondo_slyder.png')
  background-size: cover
  background-repeat: no-repeat

.titulo-principal1
  margin-bottom: 48px
  padding-bottom: 20px
  display: flex
  align-items: center

.titulo-principal1__numero 
  min-width: 27px
  height: 27px
  margin-right: 15px
  position: relative
  align-items: center

.titulo-principal1.color-acento-contenido .titulo-principal1__numero 
  background-color: #A3314F
  align-items: center

///tema8

.color-rosa4
  background-color: #E8CBD3
  height: 450px
  @media (max-width: 1400px)
    height: auto